{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    {% if posts %}
        {% for post in post %}
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
